.widget {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    transition: height 0.2s ease, visibility 0.1s ease;
}

.icon {
    font-size: 1.3em;
    cursor: pointer;
    margin: 8px 0px;
}
i.icon:hover{
    filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.8));
}
img.icon {
    width: 1.3em;
}

.edit {
    font-size: 1em;
}

.table-container {
    width: 80vw !important;
    height: calc(100vh - 100px);
    margin-bottom: 50px;
    overflow-y: scroll;
    padding: 5px;
    border: 1px solid black;
}

.table {
    font-size: 0.8em;
}
td {
    padding: 2px !important;
}
.key {
    width: 30%;
}
.value {width: 70%;}
.value input  {
    width: 100%;
}
.divider {
    height: 20px;
    background: rgb(220,220,220) !important;
}