.App {
    text-align: center;
}

nav {
    height: 50px;
}

.page {
    width: 100vw;
    height: calc(100vh - 50px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.share {
    position: absolute;
    bottom: 0px;
    left: 10px;
    height: calc(100vh - 50px);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center
}
